In [1]:
import numpy as np
import pandas as pd
import pickle
import glob

#sitedata_dir = '/Users/lejoflores/wrf30yr_drought_analysis/soil-moisture-site-data/sitedata/'
sitedata_dir = './sitedata/'
output_file = 'SRB_site_soil_miosture_data.pkl'

def station_id(file):
    site_id = file.replace(sitedata_dir,'',1)
    site_id = site_id.replace('.csv','',1)
    return(int(site_id))

In [2]:
files = sorted(glob.glob(sitedata_dir+'*.csv'),key=station_id)

site_ids = []

sm_dfs = []

for file in files:
    site_id = file.replace(sitedata_dir,'',1)
    site_id = site_id.replace('.csv','',1)
    
    site_ids.append(int(site_id))
    
    print('reading file '+file)
    df = pd.read_csv(file, delimiter=',')
    
    sm_dfs.append(df)

reading file ./sitedata/306.csv
reading file ./sitedata/312.csv
reading file ./sitedata/321.csv
reading file ./sitedata/336.csv
reading file ./sitedata/361.csv
reading file ./sitedata/424.csv
reading file ./sitedata/425.csv
reading file ./sitedata/460.csv
reading file ./sitedata/476.csv
reading file ./sitedata/490.csv
reading file ./sitedata/497.csv
reading file ./sitedata/523.csv
reading file ./sitedata/524.csv
reading file ./sitedata/537.csv
reading file ./sitedata/548.csv
reading file ./sitedata/550.csv
reading file ./sitedata/573.csv
reading file ./sitedata/577.csv
reading file ./sitedata/610.csv
reading file ./sitedata/647.csv
reading file ./sitedata/653.csv
reading file ./sitedata/654.csv
reading file ./sitedata/674.csv
reading file ./sitedata/698.csv
reading file ./sitedata/721.csv
reading file ./sitedata/730.csv
reading file ./sitedata/735.csv
reading file ./sitedata/736.csv
reading file ./sitedata/746.csv
reading file ./sitedata/747.csv
reading file ./sitedata/749.csv
reading file ./sitedata/752.csv
reading file ./sitedata/764.csv
reading file ./sitedata/770.csv
reading file ./sitedata/774.csv
reading file ./sitedata/805.csv
reading file ./sitedata/811.csv
reading file ./sitedata/821.csv
reading file ./sitedata/824.csv
reading file ./sitedata/867.csv
reading file ./sitedata/871.csv
reading file ./sitedata/895.csv
reading file ./sitedata/978.csv
reading file ./sitedata/985.csv
reading file ./sitedata/989.csv
reading file ./sitedata/1016.csv
reading file ./sitedata/1082.csv
reading file ./sitedata/1136.csv
reading file ./sitedata/1142.csv
reading file ./sitedata/1151.csv
reading file ./sitedata/1203.csv
reading file ./sitedata/1204.csv
reading file ./sitedata/1207.csv
reading file ./sitedata/1211.csv
reading file ./sitedata/1262.csv
reading file ./sitedata/2029.csv
reading file ./sitedata/2148.csv
reading file ./sitedata/2198.csv

In [3]:
site_ids[0]

306

In [4]:
site_ids[-1]

2198

In [5]:
sm_dfs[0]

,network,stationID,Year,Month,Day,Doy,sm_5cm,sm_20cm,sm_50cm,Lat,Lon\r,flag_depth1,flag_depth2,flag_depth3
0,snotel,306.0,2000.0,1.0,1.0,1.0,NaN,0.037,0.020,43.757,-115.239,1.0,0.0,0.0
1,snotel,306.0,2000.0,1.0,2.0,2.0,NaN,0.037,0.020,43.757,-115.239,1.0,0.0,0.0
2,snotel,306.0,2000.0,1.0,3.0,3.0,NaN,0.038,0.020,43.757,-115.239,1.0,0.0,0.0
3,snotel,306.0,2000.0,1.0,4.0,4.0,NaN,0.038,0.020,43.757,-115.239,1.0,0.0,0.0
4,snotel,306.0,2000.0,1.0,5.0,5.0,NaN,0.038,0.018,43.757,-115.239,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6764,snotel,306.0,2019.0,5.0,18.0,138.0,0.147,0.131,0.063,43.757,-115.239,0.0,0.0,0.0
6765,snotel,306.0,2019.0,5.0,19.0,139.0,0.164,0.127,0.063,43.757,-115.239,0.0,0.0,0.0
6766,snotel,306.0,2019.0,5.0,20.0,140.0,0.165,0.125,0.062,43.757,-115.239,0.0,0.0,0.0
6767,snotel,306.0,2019.0,5.0,21.0,141.0,0.176,0.126,0.064,43.757,-115.239,0.0,0.0,0.0
6768,snotel,306.0,2019.0,5.0,22.0,142.0,0.168,0.126,0.063,43.757,-115.239,0.0,0.0,0.0

In [6]:
sm_dfs[-1]

,network,Station ID,year,month,day,doy,sm_5cm,sm_10cm,sm_20cm,sm_50cm,sm_100cm,lat,lon\r,flag_depth1,flag_depth2,flag_depth3,flag_depth4,flag_depth5
0,scan,2198.0,2013.0,7.0,25.0,206.0,0.130,0.160,0.243,0.330,0.408,46.78,-117.08,0.0,0.0,0.0,0.0,0.0
1,scan,2198.0,2013.0,7.0,26.0,207.0,0.129,0.160,0.242,0.328,0.410,46.78,-117.08,0.0,0.0,0.0,0.0,0.0
2,scan,2198.0,2013.0,7.0,27.0,208.0,0.126,0.160,0.241,0.327,0.409,46.78,-117.08,0.0,0.0,0.0,0.0,13.0
3,scan,2198.0,2013.0,7.0,28.0,209.0,0.125,0.163,0.242,0.325,0.408,46.78,-117.08,0.0,0.0,0.0,0.0,0.0
4,scan,2198.0,2013.0,7.0,29.0,210.0,0.124,0.162,0.242,0.330,0.416,46.78,-117.08,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1849,scan,2198.0,2019.0,5.0,18.0,138.0,0.316,0.309,0.373,0.436,0.571,46.78,-117.08,0.0,0.0,0.0,0.0,0.0
1850,scan,2198.0,2019.0,5.0,19.0,139.0,0.279,0.284,0.355,0.423,0.571,46.78,-117.08,0.0,0.0,0.0,0.0,0.0
1851,scan,2198.0,2019.0,5.0,20.0,140.0,0.247,0.269,0.347,0.424,0.571,46.78,-117.08,0.0,0.0,0.0,0.0,0.0
1852,scan,2198.0,2019.0,5.0,21.0,141.0,0.228,0.260,0.342,0.418,0.571,46.78,-117.08,0.0,0.0,0.0,0.0,0.0
1853,scan,2198.0,2019.0,5.0,22.0,142.0,0.216,0.252,0.339,0.421,0.571,46.78,-117.08,0.0,0.0,0.0,0.0,0.0

In [7]:
sm_data = {'station_id': site_ids,
           'station_data': sm_dfs}

In [8]:
with open(output_file, 'wb') as handle:
    pickle.dump(sm_data, handle, protocol=pickle.HIGHEST_PROTOCOL)
    
with open(output_file, 'rb') as handle:
    sm_data_r = pickle.load(handle)
    
sm_data_r['station_data'][0]

,network,stationID,Year,Month,Day,Doy,sm_5cm,sm_20cm,sm_50cm,Lat,Lon\r,flag_depth1,flag_depth2,flag_depth3
0,snotel,306.0,2000.0,1.0,1.0,1.0,NaN,0.037,0.020,43.757,-115.239,1.0,0.0,0.0
1,snotel,306.0,2000.0,1.0,2.0,2.0,NaN,0.037,0.020,43.757,-115.239,1.0,0.0,0.0
2,snotel,306.0,2000.0,1.0,3.0,3.0,NaN,0.038,0.020,43.757,-115.239,1.0,0.0,0.0
3,snotel,306.0,2000.0,1.0,4.0,4.0,NaN,0.038,0.020,43.757,-115.239,1.0,0.0,0.0
4,snotel,306.0,2000.0,1.0,5.0,5.0,NaN,0.038,0.018,43.757,-115.239,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6764,snotel,306.0,2019.0,5.0,18.0,138.0,0.147,0.131,0.063,43.757,-115.239,0.0,0.0,0.0
6765,snotel,306.0,2019.0,5.0,19.0,139.0,0.164,0.127,0.063,43.757,-115.239,0.0,0.0,0.0
6766,snotel,306.0,2019.0,5.0,20.0,140.0,0.165,0.125,0.062,43.757,-115.239,0.0,0.0,0.0
6767,snotel,306.0,2019.0,5.0,21.0,141.0,0.176,0.126,0.064,43.757,-115.239,0.0,0.0,0.0
6768,snotel,306.0,2019.0,5.0,22.0,142.0,0.168,0.126,0.063,43.757,-115.239,0.0,0.0,0.0

In [9]:
len(sm_dfs)

58